
<div class="container">
  <div class="row">
	<div class="col-md-6">
    <% @bookmark.hashtags.each do |tag|%>
    <h1>
        <%= link_to tag.name, tag %>
    </h1>
         <% end %>
    
        <div class="well well-lg"><%= @bookmark.content %></div>
    </div>
    <div class="col-md-6">
      <% if @url.html.present? %>
        <p><%= @url.html.html_safe %></p>
      <% else %>
        <%= image_tag ("#{@url.thumbnail_url}"), class: "thumb" %>
      <% end %>
     
      <% if @title.include?("http://") || ("https://") %>
        <h1><%= link_to @title, "#{@url}" %></h1>
      <% else %>
        <h1><%= link_to @title, "https://#{@url}" %></h1>
      <% end %>
        <!--Once I changed to @parse_url, links without http:// stopped working--> 
      
        
          </br>
          </br>
          <button type="button" class="btn btn-custom btn-lg btn-block"><%= link_to 'Edit Bookmark', edit_bookmark_path %></button>
          <button type="button" class="btn btn-danger btn-lg btn-block"><%= link_to 'Delete Bookmark', @bookmark, method: :delete%></button>
    </div>
  </div>
</div>

