<!DOCTYPE html>
<html>
<head>
  <title>Aviato</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-static-top bs-docs-nav">
    <ul class="nav nav-tabs" role="tablist"> 
        <li><a href="#">Home</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">My Bookmarks</a></li>
      <li><a href="#">What is hip?</a></li>
    </ul>
  </header>
  <div class="container">
  		<ul class="nav nav-tabs">
  			<li><% link_to "Aviato", new_user_registration_path %></li>
  			<div class="pull-right user-info">
           <% if current_user %>
             Hello <%= current_user.email %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
           <% end %>
         </div>

  		</ul>

<%= yield %>
   </div>
</body>
</html>
